{# app/Resources/views/activities.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Activitée{% endblock %}

{% block body %}

	<div class="descriptionActivite">
	<ul>
		<li>Nom de l'activité : {{ activity.getNomactivite() }}</li>
		<li>Description : {{ activity.getDescription() }}</li>
		<li>{{ activity.getVotepour() }}</li>
		<li>{{ activity.getVotecontre() }}</li>

	</ul>
	</div>
	
	{% if app.session.get('hasvoted') == '' %}
	
	<div class="lienactivite">
		<div class="col-sm-4">
			<a href="/activity/{{activity.getIdactivite()}}/up">Voter pour</a> Ou 
			<a href="/activity/{{activity.getIdactivite()}}/down">Voter contre</a>
		</div>
		<div class="col-sm-4">
			<a href="/activity/{{activity.getIdactivite()}}/register">S'inscrire</a>				
		</div>
		<div class="col-sm-4">
			<a href="/activity/{{activity.getIdactivite()}}/addpicture"> Ajouter photo</a>
		</div>
	</div>
	<br>
	<br>

	{% else %}
		<p>A voté !</p>
	{% endif %}
{% endblock %}