{# app/Resources/views/activities.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Activitée{% endblock %}

{% block body %}

<div id = "activite">
	<ul>
		<li>{{ activity.getNomactivite() }}</li>
		<li>{{ activity.getDescription() }}</li>
		<li>{{ activity.getVotepour() }}</li>
		<li>{{ activity.getVotecontre() }}</li>

	</ul>
	{% if app.session.get('hasvoted') == '' %}
<a href="/activity/{{activity.getIdactivite()}}/up">Voter pour</a><br>
<a href="/activity/{{activity.getIdactivite()}}/down">Voter contre</a>
<a href="/activity/{{activity.getIdactivite()}}/register">S'inscrire</a>
<a href="/activity/{{activity.getIdactivite()}}/addpicture"> Ajouter photo</a>
	{% else %}
		<p>A voté !</p>
	{% endif %}
{% endblock %}